# Streamlit & core visualization
streamlit
plotly
matplotlib

# Data handling
pandas
numpy

# Trading & API
alpaca-trade-api
yfinance

# Machine Learning
xgboost
scikit-learn

# Utility
python-dateutil
